<ion-header>
  <ion-toolbar>
    <ion-title>
      Smothies
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="fondo">
  <ion-card class="welcome-card" *ngFor="let item of items | async">
    <img [src]="item.img" alt="" />
    <ion-card-header>
      <ion-card-title>{{item.name}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>{{item.description}}</p>
      <!-- <p>{{item.id | json}}</p> -->
      <ion-card-subtitle>


        <ion-toolbar>


          <!-- <ion-button slot="start" size="small"> -->
          <ion-chip slot="start">
            <ion-label color="primary">$ {{item.price}}</ion-label>
          </ion-chip>
          <!-- </ion-button> -->
          <ion-button slot="end" size="small" [routerLink]="['/comprar', item.id]">
            Quiero Uno
          </ion-button>
        </ion-toolbar>




      </ion-card-subtitle>
    </ion-card-content>
  </ion-card>

</ion-content>